<div *ngIf="loan">
  <mat-card class="loan_item">
    <mat-card-header>
      <mat-card-title>{{loan.title}}</mat-card-title>
      <mat-card-subtitle><strong>Amount:</strong> {{loan.amount}}</mat-card-subtitle>
      <mat-card-subtitle><strong>Available:</strong> {{loan.available}}</mat-card-subtitle>
      <mat-card-subtitle><strong>Annualised return:</strong> {{loan.annualised_return}}</mat-card-subtitle>
      <mat-card-subtitle><strong>Term remaining:</strong> {{loan.term_remaining}}</mat-card-subtitle>
      <mat-card-subtitle><strong>Ltv:</strong>{{loan.ltv}}</mat-card-subtitle>
    </mat-card-header>
    <div class="wrapper_invest_btn">
      <span class="invested" [class.enabled]="checkInvestId(loan.id)" >Invested</span>
      <button mat-raised-button class="invest_btn" color="primary" (click)="openInvestModal(loan.id)">Invest</button>
    </div>
  </mat-card>
</div>

