.loan_item{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  .wrapper_invest_btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    .invested{
      color: green;
      opacity: 0;
      &.enabled{
        opacity: 1;
      }
    }
    .invest_btn{
      width: 5rem;
      height: 2rem;
    }
  }


}
