<mat-card class="invest_modal">
  <mat-card-header>
    <mat-card-title>Invest in Loan</mat-card-title>

  </mat-card-header>

  <mat-card-content>
  <mat-card-subtitle>{{infoLoan.title}}</mat-card-subtitle>
    <mat-card-subtitle> <strong>Amount available:</strong> {{infoLoan.available}}</mat-card-subtitle>
    <mat-card-subtitle><strong>Term remaining:</strong> {{infoLoan.term_remaining}}</mat-card-subtitle>
    <div class="invest_form_wrapper">
      <form  class="invest_form" [formGroup]="investForm">
        <mat-form-field >
          <mat-label >Investment amount $:</mat-label>
          <input matInput  formControlName="amount">
          <mat-hint align="start">Min is 5, Max is {{infoLoan.available}}</mat-hint>
        </mat-form-field>
        <button mat-raised-button class="invest_btn"  [ngClass]="{disabled : investForm.invalid}" color="primary" (click)="invest()">Invest</button>
      </form>

    </div>
  </mat-card-content>
</mat-card>
