.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 1000;
  width: 100%;

}

@keyframes gray-overlay {
  from {background-color: rgba(72,72,72,0.0);}
  to {background-color: rgba(72,72,72,0.8);}
}

.gray-overlay {
  animation: gray-overlay .3s steps(10) forwards;
  z-index: 1;
}

.dialog-wrapper{
  justify-content: center;
  .dialog {
    border-radius: 8px;
    width:80vw;
    flex-direction: column;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .sign {
    visibility: hidden;
    margin-top: 4.25rem;
    background: #FCFCFC;
    &.bannerOpen{
      margin-top:8.8rem;
    }
  }
    .betslip{
      visibility: hidden;
    }
  .bet {
    width: 100vw;
    margin-top: 5.25rem;
    visibility: hidden;

  }
  .default {
    opacity: 0;
  }
  .copied{
    height: 100vh;
    width: 100vw;
  }

  .loaderBet {
    animation-name: opacity;
    animation-duration: 0.3s;
  }
  .sign {
    top: 3.5rem;
    //background-color: transparent;
  }
  .setting{
    position: absolute;
    bottom: -30rem;
    left:0;
    width: 100%;
    visibility: visible;
  }

  .betslip {
    visibility: hidden;
    border-radius: 8px;
    width:80vw;
    bottom: 0;
  }

  /* Sign Animation */
  @keyframes zoom-out {
    0% {
      transform:scale(0.5);
      opacity: 0.3;
    }
    25%{
      transform:scale(0.8);
      opacity: 0.5;
    }
    50%{
      transform:scale(1.2);
      opacity:0.7
    }
    75%{
      transform:scale(1.1);
      opacity:0.9
    }
    100% {
      transform:scale(1);
      opacity: 1;
    }
  }
  @-moz-keyframes zoom-out {
    0% {
      transform:scale(0.5);
      opacity: 0.3;
    }
    25%{
      transform:scale(0.8);
      opacity: 0.5;
    }
    50%{
      transform:scale(1.2);
      opacity:0.7
    }
    75%{
      transform:scale(1.1);
      opacity:0.9
    }
    100% {
      transform:scale(1);
      opacity: 1;
    }
  }
  @-o-keyframes zoom-out {
    0% {
      transform:scale(0.5);
      opacity: 0.3;
    }
    25%{
      transform:scale(0.8);
      opacity: 0.5;
    }
    50%{
      transform:scale(1.2);
      opacity:0.7
    }
    75%{
      transform:scale(1.1);
      opacity:0.9
    }
    100% {
      transform:scale(1);
      opacity: 1;
    }
  }
  @-webkit-keyframes zoom-out {
    0% {
      transform:scale(0.5);
      opacity: 0.3;
    }
    25%{
      transform:scale(0.8);
      opacity: 0.5;
    }
    50%{
      transform:scale(1.2);
      opacity:0.7
    }
    75%{
      transform:scale(1.1);
      opacity:0.9
    }
    100% {
      transform:scale(1);
      opacity: 1;
    }
  }

  @keyframes zoom-out-close {
    0% {
      margin-top: 5rem;
      opacity: 1;
    }
    25%{
      margin-top: 7rem;
      opacity: 0.8;
    }
    50%{
      margin-top: 9rem;
      opacity: 0.5;
    }
    75%{
      margin-top: 11rem;
      opacity: 0.3;
    }
    100% {
      margin-top: 13rem;
      opacity: 0;
    }
  }
  @-webkit-keyframes zoom-out-close {
    0% {
      margin-top: 5rem;
      opacity: 1;
    }
    25%{
      margin-top: 7rem;
      opacity: 0.8;
    }
    50%{
      margin-top: 9rem;
      opacity: 0.5;
    }
    75%{
      margin-top: 11rem;
      opacity: 0.3;
    }
    100% {
      margin-top: 13rem;
      opacity: 0;
    }
  }
  @-moz-keyframes zoom-out-close {
    0% {
      margin-top: 5rem;
      opacity: 1;
    }
    25%{
      margin-top: 7rem;
      opacity: 0.8;
    }
    50%{
      margin-top: 9rem;
      opacity: 0.5;
    }
    75%{
      margin-top: 11rem;
      opacity: 0.3;
    }
    100% {
      margin-top: 13rem;
      opacity: 0;
    }
  }
  @-o-keyframes zoom-out-close {
    0% {
      margin-top: 5rem;
      opacity: 1;
    }
    25%{
      margin-top: 7rem;
      opacity: 0.8;
    }
    50%{
      margin-top: 9rem;
      opacity: 0.5;
    }
    75%{
      margin-top: 11rem;
      opacity: 0.3;
    }
    100% {
      margin-top: 13rem;
      opacity: 0;
    }
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .zoom-out {
    visibility: visible;
    display: block;
    animation-name: zoom-out;
    animation-duration: 0.3s;
  }
  .zoom-out-close {
    opacity: 0;
    animation-name: zoom-out-close;
    animation-duration: 0.3s;
  }
  /*-----------------*/

  /* Loader Animation */

  .show{
    display: flex;
    opacity: 1;
  }
  .show-bet{
    visibility: visible;
    bottom: 0;
  }
  .grow-up{
    bottom: 0;
  }
  .close-bet{
    bottom: -30rem;
  }
  .grow-down{
    bottom: -30rem;
  }


  /*-----------------*/
  /* Bet Animation */

  /*-----------------*/

}



