<div  class="overlay" (click)="onOverlayClicked($event)">
  <div class="dialog-wrapper">
    <div class="dialog"   (click)="onDialogClicked($event)" >
      <ng-template appInsertion>

      </ng-template>
    </div>
  </div>

</div>
