<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Current Loans</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <app-loans-list [loans]="loans"></app-loans-list>
    <app-loans-amount></app-loans-amount>
  </mat-card-content>
</mat-card>
